#editorComponent {
    margin: 5vw 0;
    text-align: left;
}

#editorInterface {
    margin: 0 auto;
}

#nameField {
    width: 65vw;
}

#editorComponent .number-field {
    max-width: 15vw;
}

#exerciseField {
    /*max-width: 200px;*/
    width: 35vw;
}