#editorComponent {
    margin: 5vw 0;
    text-align: left;
}

#editorInterface {
    margin: 0 auto;
}

.number-field {
    max-width: 15vw;
}

#exerciseField {
    /*max-width: 200px;*/
    width: 35vw;
}

.button-menu {
    margin: 0;
    padding: 2vw;
}
