#runManagerComponent {
    margin: 5% 10%;
}

#runManagerComponent th {
    text-align: left;
}

#runManagerComponent .workout-fields {
    text-align: left;
    width: 30vw;
}

#runManagerComponent .workout-fields td {
    padding: 1vw 2vw;
    height: 40px;
}

#runManagerComponent .set-fields {
    margin: 1vw;
}
