#editorComponent {
    margin: 5%;
    text-align: left;
}

#editorInterface {
    margin: 0 auto;
}

.number-field {
    width: 80px;
}

#exerciseField {
    width: 200px;
}

.button-menu {
    margin: 20px 0px;
    padding: 10px;
}
