#runManagerComponent {
    margin: 5% 0;
}

#runManagerComponent th {
    text-align: left;
}

#runManagerComponent .workout-fields {
    text-align: left;
    width: 450px;
}

#runManagerComponent .workout-fields td {
    padding: 4px 8px;
    height: 40px;
}

#runManagerComponent .set-fields {
    margin: 3%;
}
